wandb/
results/
logs/
flash-attention/
ablated_model/
__pycache__/
code.txt
ablation_*.err
ablation_*.out
deepseek_*.err
deepseek_*.out
ablated_model_deepseekmath
ablated_model_qwen7bchat
pik_probe.pt
rough
results
layer_results
head_results
flash-attention
ablated_model
ablated_model_deepseekmath
ablated_model_qwen7bchat
ablated_model_llama
*.err
*.out
ablated_model_llama318binstruct/
ablated_model_llama318bsimplerl/
ablated_model_qwen257bbase/
ablated_model*
ablation.sh
submit_all.sh
.ipynb_checkpoints
.ipynb_checkpoints/Test-checkpoint.ipynb





